@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 15rem;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(211,204,227,1) 0%, rgba(233,228,240,1) 100%);
}